.view-block__content {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  background: var(--vkui--color_background_content);
}
.view-block__content-text {
  text-align: center;
  margin: 0px auto;
}
.view-block__image {
  margin: 0px auto;
  /* width: 20vh; */
  max-width: 300px;
  max-height: 300px;
  height: 30vh;
  padding: 5px;
}
