.person-card {
  border-bottom: 1px rgba(128, 128, 128, 0.15) solid;
}

.person-card__content-info-history-cell {
  display: flex;
  align-items: center;
}

/* .person-card__container {
    height: 100%;
  } */

.person-card__header-container {
  display: flex;
  justify-content: flex-start;
}

.person-card__header {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

.person-card__header-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.person-card__header-title-star {
  font-size: 10px;
  padding-left: 4px;
}

.person-card__header-title-badge {
  margin-left: 4px;
  margin-top: 4px;
}

.person-card__header-subtitle {
  color: var(--vkui--color_text_subhead);
  /* font-family: var(--vkui--font_title3--font_family--regular);
  font-size: var(--vkui--font_title3--font_size--regular);
  font-weight: var(--vkui--font_title3--font_weight--regular);
  line-height: var(--vkui--font_title3--line_height--regular); */
}

.person-card__header-medals {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.person-card__content-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.person-card__content-buttons-vkicons {
  color: var(--vkui--color_icon_accent);
}

.person-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
}

.person-card__content-info {
  padding-left: 12px;
}
.person-card__content-info > .vkuiInfoRow {
  white-space: normal;
  text-overflow: ellipsis;
  max-width: 90vh;
}

.person-card__header-photo {
  margin-right: 14px;
  margin-top: 4px;
}

.person-card__header-button-collapse,
.person-card__header-button-expand {
  margin-left: auto;
}

.person-card__content-medals-medal {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.person-card__content-medals-medal-title{
  padding-left: 4px;
}

.person-card__content-medals-medal-subtitle{
  color: var(--vkui--color_text_subhead);
}